<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:property-placeholder location="classpath:user.properties,product.properties,orderMessage.properties"/>

	<bean class="sample05.UserBean" id="user">
		<property name="id" value="${id}" />
		<property name="name" value="${name}" />
		<property name="addr" value="${addr}" />
		<property name="phone" value="${phone}" />
	</bean>
	
	<bean class="sample05.ProductBean" id="product">
		<property name="pno" value="${pno}" />
		<property name="price" value="${price}" />
		<property name="pname" value="${pname}" />
	</bean>
	
	<bean class="sample05.OrderMessageImpl" id="orderMessage">
		<property name="userBean" ref="user" />
		<property name="productBean" ref="product" />
		<property name="orderId" value="${orderId}" />
		<property name="message" value="${message}" />		
	</bean>
	
</beans>
