<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	
	<!-- 객체 생성 + 주입 -->
	<context:component-scan base-package="kosta" />
	
	<!-- AOP 설정 
		proxy-target-class="false"
		Are class-based (CGLIB) proxies to be created? By default, standard Java interface-based proxies are created.
		인터페이스로 접근, 인터페이스가 없는 경우는 클래스로 접근
		proxy-target-class="true"
		클래스로 접근, 인터페이스가 있는 경우에도 인터페이스가 아니라 구현객체로 설정
	-->
	
	<!-- AOP 설정 annotation -->
	<aop:aspectj-autoproxy />
	
</beans>
